<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('components/header.ejs') %>
<h1>Welcome to home page</h1>
<label for="">List of products</label>
<ul>
<% products.map((pro)=>{%>
<li><%=pro.label%></li>
<%}) %>
</ul>
<%- include('components/footer.ejs') %>
</body>
</html>
